<div class="container-fluid px-0">
  <div class="main-container">
    <div class="description">
    <h1>Twitter-Clone</h1>
    <p>勉強用に作成したTwitterのクローンサイトです</p>
      <div class="col-md-3 mx-auto">
        <%= link_to 'サインアップ', new_user_registration_path, class: "btn btn-info btn-block btn-lg" %>
      </div>
    </div>
  </div>
</div>