<div class="container">
  <h1>ツイート一覧</h1>
    <div class="d-flex flex-column">
      <% @tweets.each do |tweet| %>
        <div class="tweet-index">
          <div class="card" style="width: 70rem;">
            <div class="card-body">
              <%= tweet.content %>
              <%= link_to tweet.user.name, user_path(tweet.user.id) %>
              <% if tweet.user.avatar.attached? %>
                <%= image_tag tweet.user.user_icon %>
              <% end %>
              <div id="tweet_time">
                <%= tweet.created_at %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
