<div class="container">
<h1>ツイート一覧</h1>
<div class="d-flex flex-column">
<% @tweets.each do |tweet| %>
<div class="card card-body bg-light p-2" style="width: 70rem;">
<div class="card-body">
<%= tweet.content %>
</div>
</div>
<% end %>
</div>
</div>
