@import "bootstrap";
.main-container {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60%;
  position: relative;
}
.main-container .description {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 25px;
  line-height: 5em;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.tweet-form {
  margin: 30px 60px;
  outline: solid 1px;
  padding: 5%;
}
.form-group .btn .btn-primary {
  margin: 10px;
}

h1.new-tweet-h1 {
  margin: 30px 60px;
}

.alert-danger {
  margin: 30px 130px 30px 60px;
}
.tweet-index {
  margin: 10px 0px;
}
