@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.main-container {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60%;
  position: relative;
}
.main-container .description {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 25px;
  line-height: 5em;
  color: #000;
  text-align: center;
  font-weight: bold;
}

#tweet_time {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* kaminari */
.pagination {
  justify-content: center;
  margin: 10px;
}

/* devise */
.regist-form {
  background-color: white;
  border: 6px solid;
  border-color: #00ACEE;
  border-radius: 8px;
}

.user-edit-form {
  background-color: white;
  border: 6px solid;
  border-color: #00ACEE;
  border-radius: 8px;
}

.user-login-form{
  background-color: white;
  border: 6px solid;
  border-color: #00ACEE;
  border-radius: 8px;
}