<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "TwitterClone", root_path, class: "navbar-brand" %>
      <div class="navbar-nav">
          <%= link_to "Home",root_path, class: "nav-item nav-link" %>
          <%= link_to "つぶやく", '#', class: "nav-item nav-link" %>
          <%= link_to "つぶやきをみる", '#', class: "nav-item nav-link" %>
      </div>
    </nav>
</header>
