<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= render 'layouts/rails_default.html.erb' %>
  </head>

  <body>
    <%= render 'layouts/header.html.erb' %>
    <%= yield %>
  </body>
</html>
